* {
  box-sizing: border-box;
}

.image {
  border-radius: 15px;
}

body {
  font-family: system-ui;
  background-color: rgba(0, 0, 0, 0.034);
}

.button {
  color: rgb(0, 162, 255);
  border: none;
  background-color: transparent;
}
.account {
  color: lightgrey;
}

.article {
  padding: 30px;
  border-radius: 25px;
  margin: 20px;
  background-color: white;
}
