* {
  box-sizing: border-box;
}

.image {
  border-radius: 15px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  color: rgb(0, 162, 255);
  border: none;
  background-color: transparent;
}
.account {
  color: lightgrey;
}
